main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;
    margin-top:      15px;
    

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      box-shadow: 5px 10px rgb(223, 223, 236);
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    60px;
      font-size:     13px;
      // margin:        10px;

      h4 {
        color: rgb(89, 122, 160);
        margin-top: 40px;
      }

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      // Price badge
      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: rgb(89, 122, 160);
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
        font-weight: bold;
        color: white
      }

      // Sold out badge
      aside.sold {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        font-weight: bold;
        color: white;
        background-color: rgb(163, 169, 175);
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      &:hover {

        border-color: rgb(157, 171, 192);

        footer {
          opacity: 1.0;
        }
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}


